body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.slider__container {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	background-color: #081C32;
}

.slider__list {
	display: flex;
	align-items: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
}

.slider__item {
	width: 100%;
	position: relative;
	padding: 75px 50px;
	display: flex;
	align-items: center;
}

.slider__item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #081C32;
	opacity: 0.5;
}

.slider__content {
	position: relative;
	transition-duration: inherit;
}

.slider__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	z-index: -1;
}

.slider__title {
	color: #FFFFFF;
	margin: -5px 0 19px;
	font-size: 24px;
	text-decoration: underline;
	font-weight: 700;
}

.slider__description {
	color: #D7D7D7;
	margin: 0 0 25px;
	font-size: 15px;
	line-height: 1.5;
}

.slider__button {
	background-color: #944876;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 11px;
	border: none;
	color: #FFFFFF;
	outline: none;
	padding: 12px 15px 13px;
	display: inline-block;
	transition-duration: inherit;
	cursor: pointer;
}

.slider__button:hover {
	background-color: #3298e0;
}

.slider__interface {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	transition-duration: inherit;
	background-color: #081C32;
}

@keyframes autoplay {
	from { width: 0; }
	to { width: 100%; }
}

.slider__interface:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #3298e0;
	transition-duration: inherit;
	opacity: 0;
}

.slider__container--autoplay .slider__interface:before {
	animation: autoplay 5s infinite;
	opacity: 1;
}

.slider__dotsContainer {
	display: inline-flex;
	box-sizing: border-box;
	margin-left: 10px;
	transition-duration: inherit;
}

.slider__dot {
	background-color: #FFFFFF;
	border: none;
	width: 12px;
	height: 12px;
	cursor: pointer;
	padding: 0;
	outline: none;
	margin-left: 5px;
	transition-duration: inherit;
}

.slider__dot:hover {
	background-color: #3298e0;
}

.slider__dot--active,
.slider__dot--active:hover {
	background-color: #944876;
}

.slider__arrowsContainer {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	transition-duration: inherit;
	margin-left: auto;
}

.slider__arrowPrev,
.slider__arrowNext {
	background-color: #944876;
	color: #FFFFFF;
	border: none;
	outline: none;
	font-size: 8px;
	width: 36px;
	height: 36px;
	transition-duration: inherit;
	cursor: pointer;
}

.slider__arrowPrev:hover,
.slider__arrowNext:hover {
	background-color: #3298e0;
}
